.projects{
   background-color: rgb(221, 212, 207);
   height: 400px;
   margin-top: -50px;
   
}
.projects h1{
   text-align: center;
   font-size: 35px;
   font-weight: 800;
   color: blue;
   padding-top: 50px;
}